extends layout

block content
  div.container
    ul
      h1 GAME TIPS & TRICKS
    
      each tip in tips
        .tip
          h2
            a(href='/forum/#{tip.tipID}') #{tip.tipTitle}
          if tip.categories && tip.categories !== 'None'
            p Categories: #{tip.categories}
      else
        p No tips available yet.
    