//USED FOR LOGIN/SIGNUP, USERPROFILE, AND USER STATISTICS PAGE
//SAME AS 'LAYOUT' BUT NO MENU-BAR ON THE LEFTSIDE
//USED FOR THE HOMEPAGE & FORUMS WEBPAGES
//SAME AS 'LAYOUT' BUT NO MENU-BAR ON THE LEFTSIDE

doctype html
html
  head
    title #{title}
    link(rel="stylesheet" href="/styles.css")
  body
    // HEADER SECTION
    header
      .logo GTT
      .search-bar
        input(type="text" placeholder="Search for TIPS (or TRICKS!)")
      .icons
        a(href="/create" class="create-icon")
          span.icon ➕
        a(href="/myposts")
          span.icon 💾
        a(href="/signup")
          span.icon 👤
        a(href="/logout")
          span.icon 🔚

    // NAVBAR BELOW THE HEADER
    nav.menu-bar
      a(href="/") HOMEPAGE
      a(href="/forum/1") FORUMS
      a(href="/userprofile/1") USER PROFILE
      a(href="/userstatistics/1") USER STATISTICS
    
    // MENU-BAR FOR DIFFERENT FORUM CATEGORIES/GAME TITLES
    #main-content
      // MAIN CONTENT FOR WEBPAGES
      .content-area
        block content

    // FOOTER SECTION
    footer
      p @GTT Team - &copy; 2025 All rights reserved.
