//USED FOR THE HOMEPAGE & FORUMS WEBPAGES
//SAME AS 'LAYOUT' BUT NO MENU-BAR ON THE LEFTSIDE

doctype html
html
  head
    title #{title}
    link(rel="stylesheet" href="/styles.css")
  body
    // HEADER SECTION
    header
      .logo GTT
      .search-bar
        input(type="text" placeholder="Search for TIPS (or TRICKS!)")
      .icons
        span.icon ➕
        span.icon 🗪
        span.icon 💾
        span.icon 👤

    // NAVBAR BELOW THE HEADER
    nav.menu-bar
      a(href="/") HOMEPAGE
      a(href="/forums") FORUMS
      a(href="/userprofile/1") USER PROFILE
      a(href="/userstatistics/1") USER STATISTICS
    
    // MENU-BAR FOR DIFFERENT FORUM CATEGORIES/GAME TITLES
    #main-content
      aside
        section
          h3 Filter by Category
          nav
            ul
              li: a(href="/forum/strategy") Strategy
              li: a(href="/forum/shooter") Shooter
              li: a(href="/forum/rpg") Role-Playing Game
              li: a(href="/category/multiplayer") Multiplayer
        
        section
          h3 Filter by Game Title
          nav
            ul
              li: a(href="/forum/cyberquest") CyberQuest
              li: a(href="/forum/fantasywars") Fantasy Wars
              li: a(href="/forum/spaceinvaders3000") Space Invaders 3000

      // MAIN CONTENT FOR WEBPAGES
      .content-area
        block content

    // FOOTER SECTION
    footer
      p @GTT Team - &copy; 2025 All rights reserved.
